<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/478a46fe-2f3e-4f8f-a363-ed3ec1bc5659/resourceGroups/BlazorGroup/providers/Microsoft.Web/sites/PracticeProject</ResourceId>
    <ResourceGroup>BlazorGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://practiceproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c4092001-a14f-43d2-a431-08519b83b2e6</ProjectGuid>
    <PublishUrl>https://practiceproject.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PracticeProject</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>